.carouselContainer {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.carousel {
  position: relative;
  height: 24rem;
  width: 100%;
}
.dash {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  z-index: 28;
  width: 120%;
  height: 12rem;
}
.dashTop {
  width: 100%;
  height: 50%;
}
.dashBottom {
  width: 100%;
  height: 50%;
}
.dashBLight {
  background: #ebebf0;
}
.dashBDark {
  background: rgba(40, 44, 59, 0.08);
}
.dashTLight {
  background: var(--light-color);
}
.dashTDark {
  background: rgb(40, 44, 59);
}
.divider {
  height: 0.5rem;
  width: 30rem;
  background: rgba(243, 172, 0, 0.7);
}
.cardContainer {
  will-change: transform, scale;

  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: all;
  transition: all ease 0.6s;
  width: 26rem;
  min-width: 26rem;

  height: 18rem;
  max-width: 90%;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.buttonWrapper {
  display: none;
}

.button {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: none;
  pointer-events: all;
  cursor: pointer;
}
.button.right:hover {
  background-color: var(--primary-color-transparent);
}
.button.left:hover {
  background-color: darkgrey;
}
.button:focus {
  background-color: lightgrey;
}
.button img {
  max-width: 50%;
}
.left {
  background-color: var(--primary-color);
}
.left img {
  transform: scale(-1);
}
.right {
  background-color: var(--primary-color);
}

.selectedCard {
  z-index: 30;
}
.front {
  z-index: 30s;
}

.backLeft {
  cursor: pointer;
  will-change: transform, scale;

  transform: translateY(-50%) translate(56rem, 0rem) scale(0.45);
  z-index: 20;
}
.middleLeft {
  cursor: pointer;
  will-change: transform, scale;

  transform: translateY(-50%) translate(-24rem, 0rem) scale(0.46);
  z-index: 29;
}
.backRight {
  cursor: pointer;
  z-index: 29;
  will-change: transform, scale;

  transform: translateY(-50%) translate(40rem, 0rem) scale(0.45);
}
.middleRight {
  cursor: pointer;
  will-change: transform, scale;

  transform: translateY(-50%) translate(24rem, 0rem) scale(0.45);

  z-index: 29;
}

@media (prefers-reduced-motion: no-preference) {
  .card0Animation {
    animation: card0Enter 1s 1;
  }
  .card1Animation {
    animation: card1Enter 1.25s 1;
  }
  .card2Animation {
    animation: card2Enter 1.5s 1;
  }
  .card3Animation {
    animation: card3Enter 2s 1;
  }
  .card4Animation {
    animation: card4Enter 0.75s 1;
  }
}
@keyframes card0Enter {
  0% {
    transform: translateY(-50%) translate(24rem, 0rem) scale(0.45);
    opacity: 0;
  }
  50% {
    transform: translateY(-50%) translate(-0.5rem, 0rem) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
}
@keyframes card1Enter {
  0% {
    transform: translateY(-50%) translate(40rem, 0rem) scale(0.45);

    opacity: 0;
  }
  50% {
    transform: translateY(-50%) translate(23.5rem, 0rem) scale(0.45);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translate(24rem, 0rem) scale(0.45);

    opacity: 1;
  }
}
@keyframes card2Enter {
  0% {
    transform: translateY(-50%) translate(56rem, 0rem) scale(0.45);

    opacity: 0;
  }
  50% {
    transform: translateY(-50%) translate(39.5rem, 0rem) scale(0.45);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translate(40rem, 0rem) scale(0.45);

    opacity: 1;
  }
}
@keyframes card3Enter {
  0% {
    transform: translateY(-50%) translate(72rem, 0rem) scale(0.45);

    opacity: 0;
  }
  50% {
    transform: translateY(-50%) translate(55.5rem, 0rem) scale(0.45);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translate(56rem, 0rem) scale(0.45);

    opacity: 1;
  }
}
@keyframes card4Enter {
  0% {
    transform: translateY(-50%) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translateY(-50%) translate(-24.5rem, 0rem) scale(0.45);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translate(-24rem, 0rem) scale(0.45);
    opacity: 1;
  }
}
.beforeAnimation {
  opacity: 0;
}

/* Tablet and Smaller Desktop */
@media (max-width: 700px) {
  .carousel {
    position: relative;
    height: 100vw;
    width: 100%;
  }
  .buttonWrapper {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .mobileNo {
    visibility: hidden;
  }
  .dash {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    z-index: 28;
    width: 120%;
    height: 12rem;
  }
  .cardContainer {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: all;
    transition: all ease 0.6s;
    width: 85vw;
    min-width: 85%;
    height: 65vw;
    max-width: 95%;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .divider {
    height: 0.2rem;
    width: 80%;
    background: rgba(243, 172, 0, 0.7);
  }

  .backLeft {
    cursor: pointer;
    transform: translateY(-50%) translate(56rem, 0rem) scale(0.45);
    z-index: 20;
  }
  .middleLeft {
    cursor: pointer;
    transform: translateY(-50%) translate(-15rem, 0rem) scale(0.45);
    z-index: 22;
  }
  .backRight {
    cursor: pointer;
    z-index: 28;
    transform: translateY(-50%) translate(40rem, 0rem) scale(0.45);
  }
  .middleRight {
    cursor: pointer;
    transform: translateY(-50%) translate(15rem, 0rem) scale(0.45);
    z-index: 29;
  }

  @keyframes card0Enter {
    0% {
      transform: translateY(-50%) translate(15rem, 0rem) scale(0.45);
      opacity: 0;
    }
    50% {
      transform: translateY(-50%) translate(-0.5rem, 0rem) scale(1);
      opacity: 1;
    }

    100% {
      transform: translateY(-50%) scale(1);
      opacity: 1;
    }
  }
  @keyframes card1Enter {
    0% {
      transform: translateY(-50%) translate(40rem, 0rem) scale(0.45);

      opacity: 0;
    }
    50% {
      transform: translateY(-50%) translate(14.5rem, 0rem) scale(0.45);
      opacity: 1;
    }
    100% {
      transform: translateY(-50%) translate(15rem, 0rem) scale(0.45);

      opacity: 1;
    }
  }
  @keyframes card2Enter {
    0% {
      transform: translateY(-50%) translate(56rem, 0rem) scale(0.45);

      opacity: 0;
    }
    50% {
      transform: translateY(-50%) translate(39.5rem, 0rem) scale(0.45);
      opacity: 1;
    }
    100% {
      transform: translateY(-50%) translate(40rem, 0rem) scale(0.45);

      opacity: 1;
    }
  }
  @keyframes card3Enter {
    0% {
      transform: translateY(-50%) translate(72rem, 0rem) scale(0.45);

      opacity: 0;
    }
    50% {
      transform: translateY(-50%) translate(55.5rem, 0rem) scale(0.45);
      opacity: 1;
    }
    100% {
      transform: translateY(-50%) translate(56rem, 0rem) scale(0.45);

      opacity: 1;
    }
  }
  @keyframes card4Enter {
    0% {
      transform: translateY(-50%) scale(0.45);
      opacity: 0;
    }
    50% {
      transform: translateY(-50%) translate(-14.5rem, 0rem) scale(0.45);
      opacity: 1;
    }
    100% {
      transform: translateY(-50%) translate(-15rem, 0rem) scale(0.45);
      opacity: 1;
    }
  }
}
