@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
/*  
  --font-primary:rgb(69,83,101); */
  --font-primary:black;
  --font-secondary:rgb(240,71,104);
  --font-light: white;
  --font-dark: black;
  --font-dark-card: #282C3B;

  --font-large:24px;
  --font-small:14px;
  --font-normal: 18px;

  --font-xlarge: 32px;
  --font-xxlarge: 54px;
  --font-xsmall: 12px;


  --primary-color: rgb(240,71,104);
  --secondary-color: rgb(65,158,173);
  --primary-color-transparent:rgba(240,71,104,.5);
  --dark-color: #282C3B ;
  --gray:#D9D9D9;
  --secondary-dark-color: #2E3344 ;
  --accent-color:  rgba(251, 185, 33, 1);
  --accent-color-transparent:  rgba(251, 185, 33, .3);

  --accent-color-2:  rgb(167, 73, 138);
  --light-color:#FCFCFF  ;
  --light-grey-color: #ECEBEC

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

  }
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

}

html,
body {
  max-width: 100vw;
  background-color: var(--light-color);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: var(--font-primary);

}
html,

.dark-mode {
  max-width: 100vw;
  background-color: var(--dark-color);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: var(--font-light);

}


a {
  color: inherit;
  text-decoration: none;
}
h3 {
  color: var(--font-secondary);
  font-size: var(--font-large);
}
h4 {
  font-size: var(--font-normal);
}
p{
  cursor: default;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: color ease 1s;
  transition: background ease 1s;

}
.navbar{
  pointer-events: all;
  width: 100%;
  z-index: 20;
}
.landing-wrapper{
  /* background: rgb(135,227,230);
  background: linear-gradient(-150deg, rgba(255,255,255,1) 40%, rgba(135,227,230,0.2) 100%); */
}
.landing-page{
  max-height: 50rem;
  height: 90vh;
  width: 60%;
}
.landing-image-mobile{
  display: none;
}
.landing-image{
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 34rem;
  .image{
    object-fit: contain;
    width: unset !important;
    max-width: 100%;
    position: relative !important;
    height: 100% !important;

  }
}

.landing-spacing{
  margin-top: 3rem;
  white-space: normal;
}
.landing-left{
  flex:3;
  height: 100%;
}
.landing-left-content{
  white-space: nowrap;
  width: min-content;
}
.landing-spacing h2{
font-size: var(--font-large);
color: var(--font-secondary);
}
.section-spacing{
  margin-top:8rem;
}
.flex-row{
  display: flex;
}
.flex-end{
  justify-content: flex-end;
}
.flex-end a{
  margin-left: 5rem;
}
.items-center{
  align-content: center;
  align-items:center;
}
.content-center{
  justify-content: center;
  justify-items: center;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.flex-col{
  display: flex;
  flex-direction: column;
}
.space-between{
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}
.w-50{
  width: 50%;
}
.w-100{
  min-width: 100%;
  max-width: 100%;
}
.h-100p{
  min-height: 100%;
  max-height: 100%;
}
.full-page{
  min-height: 100vh;
  width: 100%;
}
.p-1{
  padding: 10px;
}
.ps-1{
  padding-left: 10px;
  padding-right: 10px;
}
.p-2{
  padding: 2rem;
}
.ps-4{
  padding: 0 4rem 0 4rem;
}
.pt-8{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.p-large-card{
  padding: 2rem 1rem 1rem 1rem;
}
.pr-icons{
  padding-right: 8rem;
}
.mb-10{
  margin-bottom: 3rem;
}
.ml-2{
  margin-left: 3rem;
}
.mt-small{
  margin-top: .5rem;
}
.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 2rem;
}
.mb-1{
  margin-bottom: 1rem;
}


.font-large{
  font-size: var(--font-large);
}
.font-normal{
  font-size: var(--font-normal);
}
.font-small{
  font-size: var(--font-small);
}
.font-xlarge{
  font-size: var(--font-xlarge);
}
.font-xxlarge{
  font-size: var(--font-xxlarge);
}
.font-xsmall{
  font-size: var(--font-xsmall);
}


.bg-primary{
  background-color: var(--primary-color);
}
.bg-secondary{
  background-color: var(--secondary-color);
}
.bg-dark{
  background-color: var(--dark-color);
}
.bg-dark-secondary{
  background-color: var(--secondar-dark-color);
  color: var(--font-light);
}
.bg-light{
  background-color: var(--font-light);
}
.bg-dark{
  background-color: var(--font-dark);
  color: var(--font-light);

}

.t-light{
  color: var(--font-light);
}
.t-dark{
  color: var(--font-dark);
}

.contact-button{
  padding: .8rem;
  white-space: nowrap;
  border: none;
  border-radius: .4rem;
}
.landing-button{
  padding: 1rem 2rem 1rem 2rem;
  white-space: nowrap;
  border: none;
  border-radius: .4rem;
  font-size: var(--font-large);
  
}
.link-container a{
  font-size: var(--font-small);
  color: #455365;
  padding: 0rem 2rem;
}
.no-wrap{
  white-space: nowrap;
}
.accent-marks{
}
.accent-marks:nth-child(1){
  color: yellow;
}

.landing-banner{
  white-space: normal;
  display: flex;
  flex-direction: column;

}
.landing-right{
  flex:2;
  position: relative;
  overflow-y: visible;
  overflow-x: visible;
  padding: 0rem 3rem 0rem 3rem;
}

.t-o{
  background-color: orange;
}
.t-b{
  background-color: blue;
}
.divider{
  align-self: flex-end;
  width: 80%;
  height: .1rem;
  display: flex;
  justify-content: center;
}

.center-self{
 align-self: center;
}
.self-end{
  align-self: flex-end;
  
}
.job-table{
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}
.job-container{
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.job-row{
  display: flex;
  justify-content: center;
}
.job-wrapper{
  width: 10rem;
  height: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.job-accent{
  position: absolute;
  width: 6.5rem;
  height: 4rem;
  border-radius: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 1;
  transform: translate(-2%,40%);

}
.job-card{
  background-color: #419EAD;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem 2rem 2rem 2rem;
  z-index: 2;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: transform 0.3s ease;
  &:hover {
    animation: spring-bounce 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  &:not(:hover) {
    animation: bounce 1s ease; /* Animation when not hovering */
  }
}
.job-card img{
  display: block;
  max-width:4rem;
  max-height:4rem;
  width: auto;
  height: auto;
  filter: grayscale(100%) brightness(10000%);
}

.left-padding{
  padding-left: 8rem;

}
.about-section{
  display: flex;
  white-space: nowrap;

}
  .about-carousel{
    position: relative;
    overflow-x: hidden;
    width: 100%;
  }
  .about-carousel-items{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    transition: all ease .3s;
    padding-top: 3rem;
    padding-bottom: 3rem;

  }
  .about-carousel-items.unwrap{
    flex-wrap: nowrap;
  }
  .about-accent {
    z-index: 10;
    position: absolute;
    bottom:0;
    left: 0;
  }
  .about-accent-2 {
    z-index: 10;
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: var(--accent-color-transparent);
    bottom:0;
    right: 550px;
  
  }
  .about-accent img{
    height: 5rem;
    width: auto;
  }
  .about-card-container{
    white-space: normal;
    flex: 1 0 15rem;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16rem;
    transition: all ease .3s;
    padding: 2rem 1.5rem 1rem 1.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .about-card-container h3{
    color: var(--font-primary);
    font-size: var(--font-normal);
  }
  .about-card-container p{
    font-size: var(--font-xsmall);
  }
  .about-carousel-position-2{
    transform: translateX(-20.75rem);
  }
  .about-carousel-position-3{
    transform: translateX(-41.25rem);
  }
  .about-carousel-position-4{
    transform: translateX(-61.75rem);
  }

  .about-carousel-buttons{
    display: flex;
    justify-content: center;
  }
  .about-carousel-buttons-mobile{
    display: none;
  }
  .about-carousel-button{
    height:4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
    border: none;
    cursor: pointer;
  }
  .about-carousel-button img{
    max-width: 50%;
  }
  .left{
    background-color: var(--light-grey-color);
  }
  .right{
    background-color: var(--primary-color);
  }
  .about-icon{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .card-spacing{
    margin-top: 1rem;
  }
  .about-icon img{
    
    border-radius: 50%;
    max-width: 5rem;
    max-height: 5rem;
  }

.grainy-container{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}
.grainy-ball{
  white-space: normal;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.grainy-ball-1{
  width: 110vw;
  height: 90vw;
  transform: translate(-20%,0%);
  .image{
    width: unset !important;
    position: relative !important;
    height: 100% !important;
  }
}
.grainy-ball-2{
  position: relative;
  width: 120vw;
  height: 90vw;
  transform: translate(30%,45%);

  .image{
    width: unset !important;
    position: relative !important;
    height: 100% !important;
  }
}
.grainy-ball-3{
  width: 110vw;
  height: 100vw;
  transform: translate(-30%,-35%);
  .image{
    width: unset !important;
    position: relative !important;
    height: 100% !important;
  }
}



.canvas-holder{
  position: absolute;
  background-color: beige;

}
.relative{
  position: relative;
}
.contact-page-accent{
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0;
  transform: translateX(-10%);
  border-radius:0rem 0rem 30rem 30rem ;
  background: rgba(65, 158, 173, 0.31); 
}
.contact-wrapper{
  width: 100%;
  height: 100vh;
}
.contact-display{
  width: 75%;
  min-width: 45rem;
  height: 28rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 2rem;
  display: flex;
}
.light-mode-card-bg{
background-color: var(--light-color);
}
.dark-mode-card-bg{
background-color: var(--secondary-dark-color);
color: var(--font-light);
}

.contact-card-wrapper{
height: 100%;
width: 40%;
position: relative;
}
.contact-card{
  position: absolute;
  width: 100%;
  min-width: 20rem;
  max-width: 22rem;
  height: 24rem;
  left: 2rem;
  top: -2rem;
  border-radius: 2rem;
  background-color: var(--secondary-color);
  color: white;
  
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.contact-card-extra{
  max-width: 100%;
  height: 100%;
}
.contact-content{
  width: 100%;
  height: 75%;
  padding: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;

}
.contact-accent{
  position: absolute;
  height: 16rem;
  width: 16rem;
  background-color: var(--accent-color);
  bottom: 0;
  right: 0;
  transform: translate(50%,50%);
  border-radius: 50%;
}
.contact-form-wrapper{
  width: 60%;
  height: 100%;
}
.contact-form-container{
  height: 100%;
  width: 100%;

  
}
.contact-form{
  padding-right: 4rem;
  padding-left: 5rem;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card-icons img{
  margin-right: 2rem;
}
.form-input{
  font-size: var(--font-normal);

}
.form-input label{
  font-weight: bold;
}
.form-input input{
  border: none;
  
  padding: .75rem;
  border-bottom: 2px solid black;
}
.form-input textarea{
  min-height: 4rem;
  border: none;
  padding: .75rem;
  border-bottom: 2px solid black;
}
.submit button{
  padding: .75rem 3rem;
  font-size: var(--font-large);
  color: var(--font-light);
  background-color: var(--primary-color);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.skill-container {
  margin-top: 8rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  position: relative;
  overflow: hidden;
}
.skill-accent{
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  transform: translate(10%,50%);
  width: 90%;
  height: 150%;
  border-radius: 50%;
  background: linear-gradient(180deg, #419EAD 0%, rgba(65, 158, 173, 0.00) 100%);
}
.skills-wrapper{
  display: flex;
  justify-content: flex-end;
}
/* DarkMode */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}




.front{
  z-index: 4;
}
.no-overflow{
  overflow: hidden;

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.jump-wrapper{
  height: 10rem;
}
.jump-container{
  padding: 1rem 0 0 4rem;
  transition: all ease .6s;
  will-change: auto;

}
.jump-container-hide{
  visibility: hidden;
}

.icon-container{
  will-change: transform;
  margin-top: 2rem;
  width: 100%;
  right: 1px;
  height: 6rem;
  display: flex;
  transition: all ease .6s;

}
.icon-container-overlay{
  display: flex;

  transform: translate(-100vw,0px);
  transition: all ease 1s ;

}
.icon-container-overlay-fixed{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease .6s;

  position: fixed;
  z-index: 100;
  height: 300px;
  right: 0;
  top:50%;
  width: 50px;
  animation: appearSide 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.icon-hide{
  animation: hideSide 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  
}
.ic{

  margin-right: 3rem;
}
.project-canvas{
  position: "absolute";
  top: 0;
  left: 0;
  z-index: 0;

}
.project-wrapper{
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;

}
.carousel-wrapper{
  position: relative;
  width: 100%;
  height: 40rem;
  overflow-x: visible;
}
.experience-wrapper{
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.side-col{

  max-width: 25rem;
  width: 25rem;
  padding: 4rem;
  z-index: 1;
  margin-right: 1rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.canvas-wrapper{
   position: "absolute" ;
   height: 100%;
   width: 100%;
   z-index: 10;
   pointer-events: all;
   display: flex;
   flex-direction: column;
   justify-content: center;

}
.blob-wrapper{
  position: relative;

}
.blob-container{
  position: absolute;
  
  z-index: 0;
  height: 50rem;
  width: 50rem;
  left: 0;
}
.before-animation{
  opacity: 0;
  background-color: blue;
}
@keyframes riseAndExpand {
  0% {
    transform: translate(50px, 200px) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0) scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}



@media (prefers-reduced-motion: no-preference) {

  .content-animation{
    animation: riseAndExpand 1s 1;
  }
  .tilt-expand-animation{
    animation: tiltAndExpand 1s 1;
  }
}



.movingBlob {
  position: absolute;
  width: 100%;
  height: 100%;
}

.stopColor1 {
  stop-color: white;
}

.stopColor2 {
  stop-color: var(--accent-color);
}

.blobPath {
  opacity: 1;
}


.cta {
  position: relative;
  width: min-content;
  margin-top: auto;
  margin-bottom: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 2.5rem;
  background: var(--primary-color-transparent);
  width: 5rem;
  height: 5rem;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: var(--font-normal);
  line-height: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--accent-color); /* Assuming $color is defined elsewhere */
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.arrow{
  transform: translateY(-10%);
}
.cta:hover:before {
  width: 100%;
  background: var(--primary-color);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}


@keyframes appearSide {
  from {
    transform: translate(105%,-50%);
  }
  to {
    transform: translate(-10%,-50%);
  }
}
@keyframes hideSide {
  from {
    transform: translate(-10%,-50%);
  }
  to {
    transform: translate(105%,-50%);
  }
}
.test{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-color: #FCFCFF;
}
.test::before{
  filter: url(#noiseFilter);
}


@keyframes spring-bounce {
  0%, 40% {
    transform: translateY(0);
  }
  
  20% {
    transform: translateY(-20px);
  }
  
  60% {
    transform: translateY(-8px);
  }
  80% {
    transform: translateY(-2px);

  }
  95% {
    transform: translateY(-6px);

  }
  100%{
    transform: translateY(-5px);
  }
}
@keyframes bounce {
   100% {
    transform: translateY(0);
  }
  
  
  0% {
    transform: translateY(-5px);
  }
}
.flex-bottom{
  align-items:baseline;

}

/* MobileM */
@media (max-width: 700px) {
  .font-large{
    font-size: var(--font-normal);
  }
  .font-normal{
    font-size: var(--font-small);
  }
  .font-small{
    font-size: var(--font-xsmall);
  }
  .font-xlarge{
    font-size: var(--font-large);
  }
  .font-xxlarge{
    font-size: var(--font-xlarge);
  }
  .font-xsmall{
    font-size: var(--font-xsmall);
  }
  .landing-banner{
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

  }
  .landing-wrapper{
    display: flex;
    flex-direction: column;
    
  }
  .landing-page{
    height:auto;
    width: min-content;
  }
  .landing-image{
    display: none;
  }
  .landing-image-mobile{
    display: flex;
    justify-content: center;
    z-index: 1;
    position:relative;
    padding: 0rem 2rem;
    height: 18rem;

    .image{
      object-fit: contain;
      width: unset !important;
      max-width: 100%;
      position: relative !important;
      height: 100% !important;
  
    }
  }
  .arrow{
    height: 3rem;
    width: 6rem;
    position: relative;
    align-self: center;
    .image{
      object-fit: contain;
      width: unset !important;
      max-width: 100%;
      position: relative !important;
      height: 100% !important;
    }
  }
  .accent-marks-mobile{
    position: absolute;
  }
  .accent-marks{
    display: none;
  }
.project-wrapper{
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  
}
.carousel-wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: visible;
}
.skills-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .grainy-ball-1{
    width: 80rem;
    height: 50rem;
    transform: translate(0%,25%);
    .image{
      transform: translate(-40%,0%);

      width: unset !important;
      position: relative !important;
      height: 100% !important;
    }
  }

  .grainy-ball-2{
    width: 70rem;
    height: 50rem;
    transform: translate(10%,25%);
    .image{
      transform: translate(0%,0%);

      width: unset !important;
      position: relative !important;
      height: 100% !important;
    }
  }
  .grainy-ball-3{
    width: 70rem;
    height: 50rem;
    transform: translate(0%,-40%);
    .image{
      transform: translate(-40%,0%);

      width: unset !important;
      position: relative !important;
      height: 100% !important;
    }
  }
  .about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-padding{
  padding-left: 1rem;

  }
  .about-carousel-buttons{
    display: none;
  }
  .about-carousel-buttons-mobile{
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  .job-wrapper{
    width: 6rem;
    height: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .job-container{
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  margin-top: 2rem;
  margin-left: 1.5rem;
  }
  .job-card{
    background-color: #419EAD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    z-index: 2;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: transform 0.3s ease;
    &:hover {
      animation: spring-bounce 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    }
    &:not(:hover) {
      animation: bounce 1s ease; /* Animation when not hovering */
    }
  }
  .job-card img{
    display: block;
    max-width:3rem;
    max-height:3rem;
    width: auto;
    height: auto;
    filter: grayscale(100%) brightness(10000%);
  }
  .job-accent{
    position: absolute;
    width: 4.5rem;
    height: 3rem;
    border-radius: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translate(-5%,40%);
  
  }
  .contact-display{
    width: 90%;
    min-width: 0rem;
    height: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .contact-card-extra{
    max-width: 90%;
    height: 100%;
  }
  .contact-card{
    position: absolute;
    width: 88vw;
    min-width: 0rem;
    height: 18rem;
    left: 1rem;
    top: -1rem;
    border-radius: 2rem;
    background-color: var(--secondary-color);
    color: white;
    
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .contact-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    padding: 2.5rem 1.5rem;
  }
  .contact-content h2{
    font-size: var(--font-normal);
  }
  .contact-content p{
    font-size: var(--font-xsmall);
    z-index: 1;

  }
  .contact-accent{
    position: absolute;
    z-index: 0;
    height: 14rem;
    width: 14rem;
    background-color: var(--accent-color);
    bottom: 0;
    right: 0;
    transform: translate(50%,50%);
    border-radius: 50%;
  }
  .contact-form-wrapper{
    margin-top: 18rem;
    
    width: 100%;
    height: 100%;
  }
  .contact-form-container{
    height: 100%;
    width: 100%;

  }

  .contact-form{
    padding-right: 1rem;
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  .form-input{
    font-size: var(--font-normal);
    width: 100%;
    margin-top: 1rem;
  }
  .form-input label{
    font-weight: bold;
  }
  .form-input input{
    border: none;
    
    padding: .75rem;
    border-bottom: 2px solid black;
  }
  .form-input textarea{
    min-height: 4rem;
    border: none;
    padding: .75rem;
    border-bottom: 2px solid black;
  }
  .submit button{
    margin-top: 1rem;
    padding: .5rem 2.5rem;
    font-size: var(--font-normal);
    color: var(--font-light);
    background-color: var(--primary-color);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }
  .ps-4{
    padding: 0rem 0rem 0rem 0rem;
  }
  .w-50{
    width: 90%;
  }
  .jump-wrapper{
    height: 10rem;
  }
  .jump-container{
    padding: 1rem 1rem 0 1rem;
    transition: all ease .6s;
    will-change: auto;
  
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .font-large{
    font-size: var(--font-normal);
  }
  .font-normal{
    font-size: var(--font-small);
  }
  .font-small{
    font-size: var(--font-xsmall);
  }
  .font-xlarge{
    font-size: var(--font-large);
  }
  .font-xxlarge{
    font-size: var(--font-xlarge);
  }
  .font-xsmall{
    font-size: var(--font-xsmall);
  }

  .left-padding{
  padding-left: 1rem;

  }
  .landing-image{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 28rem;
    .image{
      object-fit: contain;
      width: unset !important;
      max-width: 100%;
      position: relative !important;
      height: 100% !important;
  
    }
  }


}