@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  /*  
  --font-primary:rgb(69,83,101); */
  --font-primary: black;
  --font-secondary: rgb(240, 71, 104);
  --font-light: white;
  --font-dark: black;
  --font-dark-card: #282c3b;

  --font-large: 24px;
  --font-small: 14px;
  --font-normal: 18px;

  --font-xlarge: 32px;
  --font-xxlarge: 54px;
  --font-xsmall: 12px;
  --bg-backgrounds: rgba(40, 44, 59, 0.08);
  --primary-color: rgb(240, 71, 104);
  --secondary-color: rgb(65, 158, 173);
  --primary-color-transparent: rgba(240, 71, 104, 0.5);
  --dark-color: #282c3b;
  --gray: #d9d9d9;
  --light-gray: rgba(40, 44, 59, 0.08);
  --secondary-dark-color: #2e3344;
  --accent-color: rgba(251, 185, 33, 1);
  --accent-color-transparent: rgba(251, 185, 33, 0.3);

  --accent-color-2: rgb(167, 73, 138);
  --light-color: #fcfcff;
  --light-grey-color: #ecebec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  background-color: var(--light-color);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: var(--font-primary);
}
html,
.dark-mode {
  max-width: 100vw;
  background-color: var(--dark-color);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: var(--font-light);
}

a {
  color: inherit;
  text-decoration: none;
}
h3 {
  color: var(--font-secondary);
  font-size: var(--font-large);
}
h4 {
  font-size: var(--font-normal);
}

.main {
  display: flex;
  flex-direction: column;
  transition: color ease 1s;
  transition: background ease 1s;
}
.main-content {
  display: flex;
  flex-direction: column;
}
.menu-bar {
  pointer-events: all;
  width: 100%;
  z-index: 20;
}

.landing-page {
  min-height: 38rem;
  max-height: 50rem;
  height: 90vh;
  width: 60%;
}
.landing-image-mobile {
  display: none;
}
.landing-image {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 34rem;
  .image {
    object-fit: contain;
    width: unset !important;
    max-width: 100%;
    position: relative !important;
    height: 100% !important;
  }
}

.landing-spacing {
  margin-top: 3rem;
  white-space: normal;
}
.landing-left {
  flex: 3;
  height: 100%;
}
.landing-left-content {
  white-space: nowrap;
  width: min-content;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 2rem;
  pointer-events: all;
  width: 100%;
  z-index: 20;
}

.logo a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.contact-corner-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 0.4rem;
  margin-right: 1rem;
  cursor: pointer;
  border: transparent 1px solid;
}
.contact-corner-button:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
}
.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navLinks li a {
  font-size: var(--font-small);
  color: #455365;
  padding: 0rem 1rem;
}

.hamburger {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: black;
  transition: all 0.3s ease;
}

.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-content {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  width: 100%;
}
.darkmode-button {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .menu {
    display: block;
  }
  .nav-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .navLinks {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgba(239, 239, 239, 0.9);
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .menu.open .navLinks {
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
  }
}

.toggle {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  width: 1.5rem;
  height: 1.5rem;
  background: #455365;
  left: 0rem;
  top: -0.5em;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: darkgray;
}

.toggle:checked:before {
  left: 1rem;
}

.landing-spacing h2 {
  font-size: var(--font-large);
  color: var(--font-secondary);
}
.section-spacing {
  margin-top: 8rem;
}
.flex-row {
  display: flex;
}
.flex-end {
  justify-content: flex-end;
}
.flex-end a {
  margin-left: 5rem;
}
.items-center {
  align-content: center;
  align-items: center;
}
.content-center {
  justify-content: center;
  justify-items: center;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.resume-button {
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  width: fit-content;
  cursor: pointer;
  transition: all ease 1s;
  align-items: center;
  width: 12rem;
}
.resume-button p {
  transition: all ease 1s;
}
.resume-button:hover p {
  text-decoration: underline;
}
.button-arrow {
  font-size: large;
  margin-left: 0.1rem;
  transition: all ease 0.3s;
}
.resume-button:hover .button-arrow {
  margin-left: 0.5rem;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.w-50 {
  width: 50%;
}
.w-100 {
  min-width: 100%;
  max-width: 100%;
}
.h-100p {
  min-height: 100%;
  max-height: 100%;
}
.full-page {
  min-height: 100vh;
  width: 100%;
}
.p-1 {
  padding: 10px;
}
.ps-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-2 {
  margin-right: 2rem;
}
.ps-4 {
  padding: 0 4rem 0 4rem;
}
.pt-8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.p-large-card {
  padding: 2rem 1rem 1rem 1rem;
}
.pr-icons {
  padding-right: 8rem;
}
.mb-10 {
  margin-bottom: 3rem;
}
.ml-2 {
  margin-left: 3rem;
}
.mt-small {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 4rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

.font-large {
  font-size: var(--font-large);
}
.font-normal {
  font-size: var(--font-normal);
}
.font-small {
  font-size: var(--font-small);
}
.font-xlarge {
  font-size: var(--font-xlarge);
}
.font-xxlarge {
  font-size: var(--font-xxlarge);
}
.font-xsmall {
  font-size: var(--font-xsmall);
}
.footer {
  font-size: x-small;
  padding: 0.5rem 1rem;
}
.footer a {
  text-decoration: underline;
  color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-dark {
  background-color: var(--dark-color);
}
.bg-dark-secondary {
  background-color: var(--secondar-dark-color);
  color: var(--font-light);
}
.bg-light {
  background-color: var(--font-light);
}
.bg-dark {
  background-color: var(--font-dark);
  color: var(--font-light);
}

.t-light {
  color: var(--font-light);
}
.t-dark {
  color: var(--font-dark);
}

.contact-button {
  padding: 0.8rem;
  white-space: nowrap;
  border: none;
  border-radius: 0.4rem;
}
.landing-button {
  padding: 1rem 2rem 1rem 2rem;
  white-space: nowrap;
  border: none;
  border-radius: 0.4rem;
  font-size: var(--font-large);
}
.link-container a {
  font-size: var(--font-small);
  color: #455365;
  padding: 0rem 2rem;
}
.no-wrap {
  white-space: nowrap;
}
.accent-marks {
}
.accent-marks:nth-child(1) {
  color: yellow;
}

.landing-banner {
  white-space: normal;
  display: flex;
  flex-direction: column;
}
.landing-right {
  flex: 2;
  position: relative;
  overflow-y: visible;
  overflow-x: visible;
  padding: 0rem 3rem 0rem 3rem;
}

.t-o {
  background-color: orange;
}
.t-b {
  background-color: blue;
}
.divider {
  align-self: flex-end;
  width: 80%;
  height: 0.1rem;
  display: flex;
  justify-content: center;
}

.center-self {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}
.job-table {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}
.job-container {
  width: 90%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.job-row {
  display: flex;
  justify-content: center;
}
.job-wrapper {
  width: 10rem;
  height: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.job-accent {
  position: absolute;
  width: 6.2rem;
  height: 6rem;
  border-radius: 1rem;
  background-color: var(--secondary-color);

  z-index: 1;
  transform: translate(-2%, 5%);
}
.job-card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  z-index: 2;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  &:hover {
    animation: spring-bounce 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  &:not(:hover) {
    animation: bounce 1s ease; /* Animation when not hovering */
  }
}
.job-card-expanded {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  z-index: 100;
  width: 22rem;
  max-height: none;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.job-card-expanded img {
  display: block;
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.job-card img {
  display: block;
  max-width: 4rem;
  max-height: 4rem;
  width: auto;
  height: auto;
}
.job-text-hide {
  height: 0;
  opacity: 0;
}
.job-text-show {
  transition: opacity ease 1s;
  padding: 5%;
  max-width: 90%;
  visibility: visible;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.job-text-show p {
  text-align: left;
}
.left-padding {
  padding-left: 8rem;
}
.about-section {
  display: flex;
  white-space: nowrap;
}
.about-carousel {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}
.about-wrapper {
  width: 100%;
}
.about-background {
  width: 70%;
  right: 0;
  bottom: 0;
  background-color: var(--bg-backgrounds);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);

  height: 25rem;
  border-radius: 15rem 0rem 0rem 15rem;
  position: absolute;
}
.experience-background {
  width: 60%;
  left: 0;

  background-color: var(--bg-backgrounds);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);

  height: 100%;
  border-radius: 0rem 15rem 15rem 0rem;
  position: absolute;
}
.about-carousel-items {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  transition: all ease 0.3s;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.about-carousel-items.unwrap {
  flex-wrap: nowrap;
}
.about-accent {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
}
.about-accent-2 {
  z-index: 10;
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: var(--accent-color-transparent);
  bottom: 0;
  right: 550px;
}
.about-accent img {
  height: 5rem;
  width: auto;
}
.about-card-container {
  white-space: normal;
  flex: 1 0 15rem;
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;

  height: 16rem;
  transition: all ease 0.3s;
  padding: 2rem 1.5rem 1rem 1.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.about-card-container h3 {
  color: var(--font-primary);
  font-size: var(--font-normal);
}
.about-card-container p {
  font-size: var(--font-xsmall);
}
.about-carousel-position-2 {
  transform: translateX(-20.75rem);
}
.about-carousel-position-3 {
  transform: translateX(-41.25rem);
}
.about-carousel-position-4 {
  transform: translateX(-61.75rem);
}

.about-carousel-buttons {
  display: flex;
  justify-content: center;
}
.about-carousel-buttons-mobile {
  display: none;
}

.about-carousel-button {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
}
.about-carousel-button img {
  max-width: 50%;
}
.left {
  background-color: var(--primary-color);
}
.left:hover,
.right:hover {
  transform: scale(1.1);
}

.left img {
  transform: scale(-1);
}
.right {
  background-color: var(--primary-color);
}
.about-icon {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-spacing {
  margin-top: 1rem;
}
.about-icon img {
  border-radius: 50%;
  max-width: 5rem;
  max-height: 5rem;
}

.grainy-container {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}
.grainy-ball {
  white-space: normal;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.project-accent {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 35%;
  background: var(--light-gray);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.gradient-ball-blue {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: #f5f5f5;
  /* background: linear-gradient(
    90deg,
    rgba(65, 158, 173, 1) 30%,
    rgba(65, 158, 173, 0) 100%
  ); */
}

.canvas-holder {
  position: absolute;
  background-color: beige;
}
.relative {
  position: relative;
}
.contact-page-accent {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 50%;
  left: 0;
  transform: translateY(-20%);
  background: var(--bg-backgrounds);
}
.contact-wrapper {
  width: 100%;
}
.contact-display {
  width: 75%;
  min-width: 45rem;
  height: 28rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 2rem;
  display: flex;
}
.light-mode-card-bg {
  background-color: var(--light-color);
}
.dark-mode-card-bg {
  background-color: var(--secondary-dark-color);
  color: var(--font-light);
}
.dark-mode-card-bg .job-icon {
  filter: grayscale(100%) brightness(10000%);
}
.dark-mode-card-bg h3 {
  color: white;
}
.contact-card-wrapper {
  height: 100%;
  width: 40%;
  position: relative;
}
.contact-card {
  position: absolute;
  width: 100%;
  min-width: 20rem;
  max-width: 22rem;
  height: 24rem;
  left: 2rem;
  top: -2rem;
  border-radius: 2rem;
  background-color: var(--secondary-color);
  color: white;

  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.contact-card-extra {
  max-width: 100%;
  height: 100%;
}
.contact-content {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
}
.contact-content-words {
  max-width: 100%;
  height: 100%;
  padding: 3.5rem 1.5rem;
}
.contact-accent {
  position: absolute;
  height: 16rem;
  width: 16rem;
  background-color: var(--accent-color);
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  border-radius: 50%;
}
.contact-form-wrapper {
  width: 60%;
  height: 100%;
}
.contact-form-container {
  height: 100%;
  width: 100%;
}

.contact-form {
  padding-right: 4rem;
  padding-left: 5rem;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-icons img {
  margin-right: 1rem;
  margin-left: 1.5rem;
}
.form-input {
  font-size: var(--font-normal);
}
.form-input label {
  font-weight: bold;
}
.form-input input {
  border: none;

  padding: 0.75rem;
  border-bottom: 2px solid black;
}
.form-input textarea {
  min-height: 4rem;
  border: none;
  padding: 0.75rem;
  border-bottom: 2px solid black;
}
.submit-button {
  padding: 0.5rem 2rem;
  font-size: var(--font-normal);
  color: var(--font-light);
  background-color: var(--primary-color);
  border: none;
  border-radius: 1rem;
  border: transparent solid 1px;

  cursor: pointer;
}
.submit button:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: var(--primary-color) solid 1px;
}
.loading {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: var(--font-normal);
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
}
.skill-container {
  position: relative;
  overflow: hidden;
  display: flex;
}
.skill-accent-container {
  position: relative;
  width: 50%;
  height: 40rem;
  display: flex;
  align-items: center;
}
.accent-side-bar {
  height: 12rem;
  position: relative;
  width: 80%;
  background-color: rgba(65, 158, 173, 0.5);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);

  border-radius: 0rem 2rem 2rem 0rem;
}
.skill-accent {
  position: absolute;
  overflow: visible;
  z-index: 0;
  bottom: 1rem;
  right: -12rem;
  width: 30rem;
  height: 18rem;
}
.skill-accent img {
  transform: scaleX(-1);
}
.carousel-container {
  position: absolute;
  width: 200%;
  height: 100%;
}
.skill-img {
  position: relative;
  width: 100%;
  height: 100%;
  .image {
    object-fit: contain;
    width: unset important!;
    height: 100%;
  }
}
.skills-wrapper {
  min-width: 50%;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem 1rem;
  margin-right: 4rem;
  overflow: visible;
}
.skills-grid {
  height: 100%;
  margin: 2rem;
}
.skills-wrapper-row {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills-dot img {
  height: 3rem;
}
.skills-dots-left {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1, -1);
}
.skills-dots-right {
  z-index: 10;
  position: absolute;
  transform: scale(-1, -1);

  top: 0;
  right: 0;
}
.skills-dots-right-b {
  z-index: 10;
  position: absolute;
  transform: scale(-1, 1);

  bottom: 0;
  right: 0;
}
.skills-dots-left-b {
  z-index: 10;
  position: absolute;

  bottom: 0;
  left: 0;
}
/* DarkMode */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.front {
  z-index: 4;
}
.no-overflow {
  overflow: hidden;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.jump-wrapper {
  height: 5rem;
}
.jump-container {
  padding: 0rem 0 0 4rem;
  transition: all ease 0.6s;
  will-change: auto;
}
.jump-container-hide {
  visibility: hidden;
}

.icon-container {
  will-change: transform;
  margin-top: 1rem;
  width: 100%;
  right: 1px;
  height: 6rem;
  display: flex;
  transition: all ease 0.6s;
}
.icon-container-overlay {
  display: flex;

  transform: translate(-100vw, 0px);
  transition: all ease 1s;
}
.icon-container-overlay-fixed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease 0.6s;

  position: fixed;
  z-index: 100;
  height: 300px;
  right: 0;
  top: 50%;
  width: 50px;
  animation: appearSide 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.icon-hide {
  animation: hideSide 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.ic {
  margin-right: 3rem;
}
.project-canvas {
  position: "absolute";
  top: 0;
  left: 0;
  z-index: 0;
}
.project-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.carousel-wrapper {
  position: relative;
  width: 100%;
  overflow-x: visible;
}
.logo img {
  position: absolute;
}
.experience-wrapper {
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.experience-container {
  display: flex;
  justify-content: space-between;
}
.left-text {
  text-align: left;
}

.side-col {
  position: unset;
  max-width: 25rem;
  width: 100%;
  height: 100%;
  padding: 0rem 4rem;
  z-index: 1;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.side-col-content {
  margin-top: 4rem;
  width: 18rem;
}
.mobileOnly {
  display: none;
}
.side-col-content-p {
  position: absolute;
  top: 0;
  width: 18rem;
}
.canvas-wrapper {
  position: "absolute";
  height: 100%;
  width: 100%;
  z-index: 10;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blob-wrapper {
  position: relative;
}
.blob-container {
  position: absolute;

  z-index: 0;
  height: 50rem;
  width: 50rem;
  left: 0;
}
.before-animation {
  opacity: 0;
  background-color: blue;
}
@keyframes riseAndExpand {
  0% {
    transform: translate(50px, 200px) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0) scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .content-animation {
    animation: riseAndExpand 1s 1;
  }
  .tilt-expand-animation {
    animation: tiltAndExpand 1s 1;
  }
}

.movingBlob {
  position: absolute;
  width: 100%;
  height: 100%;
}

.stopColor1 {
  stop-color: white;
}

.stopColor2 {
  stop-color: var(--accent-color);
}

.blobPath {
  opacity: 1;
}
.landing-buttons {
  display: flex;
}
.cta {
  position: relative;
  width: min-content;
  margin-top: auto;
  margin-bottom: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 2.5rem;
  background: var(--primary-color-transparent);
  width: 5rem;
  height: 5rem;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: var(--font-normal);
  line-height: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--accent-color); /* Assuming $color is defined elsewhere */
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.arrow {
  position: relative;
  height: inherit;

  width: 10rem;
}
.cta:hover:before {
  width: 100%;
  background: var(--primary-color);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

@keyframes appearSide {
  from {
    transform: translate(105%, -50%);
  }
  to {
    transform: translate(-10%, -50%);
  }
}
@keyframes hideSide {
  from {
    transform: translate(-10%, -50%);
  }
  to {
    transform: translate(105%, -50%);
  }
}
.test {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-color: #fcfcff;
}
.test::before {
  filter: url(#noiseFilter);
}

@keyframes spring-bounce {
  0%,
  40% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-8px);
  }
  80% {
    transform: translateY(-2px);
  }
  95% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  100% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(-5px);
  }
}
.flex-bottom {
  align-items: baseline;
}

/* MobileM */
@media (max-width: 700px) {
  .font-large {
    font-size: var(--font-normal);
  }
  .font-normal {
    font-size: var(--font-small);
  }
  .font-small {
    font-size: var(--font-xsmall);
  }
  .font-xlarge {
    font-size: var(--font-large);
  }
  .font-xxlarge {
    font-size: var(--font-xlarge);
  }
  .font-xsmall {
    font-size: var(--font-xsmall);
  }
  .landing-banner {
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .noMobile {
    display: none;
    visibility: hidden;
  }
  .landing-wrapper {
    display: flex;
    flex-direction: column;
  }
  .landing-page {
    height: auto;
    width: min-content;
  }
  .landing-image {
    display: none;
  }
  .landing-image-mobile {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
    padding: 0rem 2rem;
    height: 18rem;

    .image {
      object-fit: contain;
      width: unset !important;
      max-width: 100%;
      position: relative !important;
      height: 100% !important;
    }
  }
  .arrow {
    height: 3rem;
    width: 6rem;
    position: relative;
    align-self: center;
    .image {
      object-fit: contain;
      width: unset !important;
      max-width: 100%;
      position: relative !important;
      height: 100% !important;
    }
  }
  .accent-marks-mobile {
    position: absolute;
  }
  .accent-marks {
    display: none;
  }
  .project-wrapper {
    position: relative;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .carousel-wrapper {
    position: unset;
    overflow-x: visible;
    width: 100%;
    height: fit-content;
  }
  .carousel-dash {
    position: relative;
    width: 100%;
  }
  .carousel-containerss {
    position: unset;
    width: 100%;
    height: 100%;
  }
  .side-col {
    width: 100%;
    padding: 0;
    max-width: 100%;
    height: 8rem;
    z-index: 1;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-bottom: 0rem;
  }
  .mobileOnly {
    display: inline;
  }
  .p-2 {
    padding: 0rem;
  }
  .side-col-content {
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .side-col-content-about {
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .experience-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .experience-wrapper {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .experience-background {
    width: 80%;
    left: 0;
    bottom: -2rem;

    background-color: var(--bg-backgrounds);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);

    height: 75%;
    border-radius: 0rem 15rem 15rem 0rem;
    position: absolute;
  }
  .skills-grid {
    height: 100%;
    margin: 2rem;
  }
  .skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .skills-wrapper-row {
    margin-bottom: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .carousel-container {
    display: none;
  }

  .grainy-ball-1 {
    width: 80rem;
    height: 50rem;
    transform: translate(0%, 25%);
    .image {
      transform: translate(-40%, 0%);

      width: unset !important;
      position: relative !important;
      height: 100% !important;
    }
  }

  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .left-padding {
    padding-left: 0rem;
  }
  .about-carousel-buttons {
    display: none;
  }
  .about-carousel-buttons-mobile {
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  .job-wrapper {
    width: 6rem;
    height: 6rem;
    position: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .job-container {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 1.5rem;
  }

  .job-card {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    z-index: 2;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    &:hover {
      animation: spring-bounce 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    }
    &:not(:hover) {
      animation: bounce 1s ease; /* Animation when not hovering */
    }
  }
  .job-card-expanded {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    z-index: 10000;
    width: 80vw;
    max-height: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }
  .job-card-expanded img {
    display: block;
    height: 2.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: auto;
    height: auto;
  }
  .job-card img {
    display: block;
    max-width: 3rem;
    max-height: 3rem;
    width: auto;
    height: auto;
  }
  .job-accent {
    position: absolute;
    width: 4.2rem;
    height: 4rem;
    border-radius: 1rem;

    z-index: 1;
    transform: translate(-0.2rem, 0.5rem);
  }
  .contact-wrapper {
    width: 100%;
    margin-top: 2rem;
  }
  .contact-display {
    width: 90%;
    min-width: 0rem;
    height: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .contact-card-extra {
    max-width: 90%;
    height: 100%;
  }
  .contact-card {
    position: absolute;
    width: 80vw;
    min-width: fit-content;
    height: 18rem;
    left: -0.5rem;
    top: -1rem;
    border-radius: 2rem;
    background-color: var(--secondary-color);
    color: white;

    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
  }
  .contact-content h2 {
    font-size: var(--font-normal);
  }
  .contact-content p {
    font-size: var(--font-xsmall);
    z-index: 1;
  }
  .contact-content-words {
    max-width: 100%;
    height: 100%;
    padding: 2rem 1.5rem;
  }
  .contact-accent {
    position: absolute;
    z-index: 0;
    height: 14rem;
    width: 14rem;
    background-color: var(--accent-color);
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    border-radius: 50%;
  }
  .contact-form-wrapper {
    margin-top: 18rem;

    width: 100%;
    height: 100%;
  }
  .contact-form-container {
    height: 100%;
    width: 100%;
  }

  .contact-form {
    padding-right: 1rem;
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form-input {
    font-size: var(--font-normal);
    width: 100%;
    margin-top: 1rem;
  }
  .form-input label {
    font-weight: bold;
  }
  .form-input input {
    border: none;

    padding: 0.75rem;
    border-bottom: 2px solid black;
  }
  .form-input textarea {
    min-height: 4rem;
    border: none;
    padding: 0.75rem;
    border-bottom: 2px solid black;
  }
  .submit-button {
    margin-top: 1rem;
    padding: 0.5rem 2.5rem;
    font-size: var(--font-normal);
    color: var(--font-light);
    background-color: var(--primary-color);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }
  .loading {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    font-size: var(--font-normal);
    color: var(--secondary-color);
    background-color: transparent;
    border: none;
  }
  .ps-4 {
    padding: 0rem 0rem 0rem 0rem;
  }
  .w-50 {
    width: 90%;
  }
  .jump-wrapper {
    height: 10rem;
  }
  .jump-container {
    padding: 1rem 1rem 0 1rem;
    transition: all ease 0.6s;
    will-change: auto;
  }
  .skill-container {
    margin-top: 4rem;
    padding-top: 2rem;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .side-col-content-p {
    margin-left: 2rem;
  }
  .skill-accent-container {
    position: relative;
    width: 100%;
    height: 15rem;
    padding: 0;
    display: flex;
    justify-content: left;
  }
  .accent-side-bar {
    height: 12rem;
    position: relative;
    width: 75%;
    background-color: rgba(65, 158, 173, 0.5);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);

    border-radius: 0rem 2rem 2rem 0rem;
  }
  .skill-accent {
    position: absolute;
    overflow: visible;
    z-index: 0;
    bottom: 1rem;
    right: -12rem;
    width: 30rem;
    height: 18rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .font-large {
    font-size: var(--font-normal);
  }
  .font-normal {
    font-size: var(--font-small);
  }
  .font-small {
    font-size: var(--font-xsmall);
  }
  .font-xlarge {
    font-size: var(--font-large);
  }
  .font-xxlarge {
    font-size: var(--font-xlarge);
  }
  .font-xsmall {
    font-size: var(--font-xsmall);
  }

  .left-padding {
    padding-left: 1rem;
  }
  .landing-image {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 28rem;
    .image {
      object-fit: contain;
      width: unset !important;
      max-width: 100%;
      position: relative !important;
      height: 100% !important;
    }
  }
}
